<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Exercise tracker</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://img.icons8.com/office/80/000000/exercise.png" type="image/png">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
  </head>
  <body>
    <header>
      <h1>
        Exercise tracker
      </h1>
    </header>

    <main>
      <form method="POST" action="/api/exercise/new-user">
        <h2>Create a New User</h2>
        <input placeholder="username" type="text" name="username" id="new_user" />
        <button type="submit">Submit</button>
      </form>
      
      <form method="POST" action="/api/exercise/add">
        <h2>Add exercises</h2>
        <input placeholder="userId*" type="text" name="userId" id="userId" />
        <input placeholder="description*" type="text" name="description" id="description" />
        <input placeholder="duration*" type="text" name="duration" id="duration" />
        <input placeholder="date (yyyy-mm-dd)" type="date" name="date" id="date" />
        <button type="submit">Submit</button>
      </form>
      
      <form method="GET" action="/api/exercise/log">
        <h2>View history</h2>
        <input placeholder="userId*" type="text" name="userId" id="userId2" />
        <input placeholder="from date" type="date" name="from" id="from" />
        <input placeholder="to date" type="date" name="to" id="to" />
        <input placeholder="limit" type="number" name="number" id="number" />
        <button type="submit">Submit</button>
      </form>
    </main>

    <footer>
      Made by <span id="myName">SJ</span> with <a href="https://glitch.com">Glitch</a>!
    </footer>  
    
  </body>
</html>
