
body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: space-around;
  text-align: center;
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}

.bold {
  font-weight: bold;
}

form {
  width: 25vw;
  padding: 1vw;
  border-radius: 0.5vw;
  background: rgb(135, 211, 124);
  margin: auto;
  margin-bottom: 5vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
}

form div {
  display: flex;
  justify-content: ;
}

#myName {
  color: orange;
  font-weight: bold;
}
